<%- include('header.ejs') %>

<h1><%= title %></h1>

<form action="/" method="POST">

    <label for="email">Email adress</label>
    <input type="email" name="email" placeholder="Your email adress" required>

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Your password" required>

    <button type="submit">Login</button>

</form>

<%- include('footer.ejs') %>
