<%- include('header.ejs') %>

<header></header>

<main>

  <h1><%= title %></h1>

  <form action="/login" method="POST">

    <label for="email">Email adress</label>
    <input type="email" name="email" placeholder="Your email adress" required>

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Your password" required>

    <button type="submit">Login</button>

    <p>I don't have an account <a href="/signup">Sign Up</a></p>

  </form>

</main>

<%- include('footer.ejs') %>
