<%- include('header.ejs') %>

<h1>Add a new country</h1>

<form action="/" method="POST">

    <label for="email">Email adress</label>
    <input type="text" name="email" placeholder="Your email adress">

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Your password">

    <button type="submit">Submit</button>

</form>

<%- include('footer.ejs') %>
