/* */
/* Copyright 2018, Bauke Posthuma */
/* www.baukeposthuma.nl */
/* */
/**********/
/* Colors */
/**********/
/**************/
/* Typography */
/**************/
/*****************/
/* Media Queries */
/*****************/
/*****************/
/* Grid settings */
/*****************/
/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #434b5f;
  background: white;
  font: 400 1rem/150% "Montserrat", sans-serif; }

/* Typography */
p {
  color: #434b5f;
  margin-bottom: 1rem; }

a {
  border-bottom: 1px solid currentcolor;
  text-decoration: none;
  transition: border-bottom ease 150ms; }
  a:hover, a:focus {
    color: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5ch;
  text-rendering: optimizeLegibility;
  letter-spacing: .125ch; }

h1 {
  font: 400 1.75rem/150% "Montserrat", sans-serif;
  color: #434b5f; }

h2 {
  font: 600 1.75rem/150% "Montserrat", sans-serif;
  color: #ff8c07; }

h3 {
  font: 600 1.5rem/150% "Montserrat", sans-serif;
  color: #ff8c07; }

h4 {
  font: 600 1.25rem/150% "Montserrat", sans-serif;
  color: #596377;
  text-transform: uppercase; }

h6 {
  font: 600 1rem/150% "Montserrat", sans-serif;
  color: #596377;
  text-transform: uppercase; }

/* Tables */
table {
  display: table;
  border-collapse: collapse;
  border-color: currentcolor; }

td,
th {
  border: 1px solid currentcolor;
  padding: 1ch; }

th {
  text-align: start;
  background-color: goldenrod;
  font-weight: 700; }

/* Description list */
dl {
  margin-bottom: 1rem;
  column-count: 2; }

dt {
  font-weight: 700;
  float: left; }

dt::after {
  content: ':';
  margin-right: 0.5ch; }

tr:nth-child(odd) {
  background-color: rgba(217, 165, 32, 0.1); }

/* Images */
img {
  max-width: 100%; }

/* Buttons */
.button,
button,
button[type="submit"],
button[type="reset"],
input[type="submit"],
input[type="reset"] {
  min-width: 12.5rem;
  border: none;
  background-color: #ffc623;
  border-radius: 10rem;
  padding: 1rem 3rem;
  font: 700 0.8rem/150% "Montserrat", sans-serif;
  color: white;
  letter-spacing: .035rem;
  text-decoration: none;
  transition: background .2s ease-in, border .2s ease-in, color .2s ease-in;
  margin: 0 0 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  display: block; }
  .button:hover,
  button:hover,
  button[type="submit"]:hover,
  button[type="reset"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    border-color: #ff8c07; }

/* Forms */
input[type="email"],
input[type="date"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  font: 400 0.6875rem/100% "Montserrat", sans-serif;
  color: #596377;
  height: 3rem;
  padding: .5rem .8rem;
  background-color: white;
  border: 1px solid #D1D1D1;
  border-radius: .25rem;
  box-shadow: none;
  box-sizing: border-box;
  margin-bottom: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0;
  margin-bottom: 1rem; }

input[type="checkbox"],
input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

header {
  background-image: linear-gradient(-135deg, #FFC623 0%, #FF8C07 100%);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  height: .3125rem;
  margin-bottom: 1.25rem; }

main {
  margin: 0 1.25rem; }

/***********/
/* Profile */
/***********/
header#profile {
  box-shadow: none;
  background-image: none;
  height: 10.4375rem;
  width: 100%;
  margin-bottom: 5rem;
  display: flex;
  position: relative; }
  header#profile svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.2)); }
  header#profile img {
    position: absolute;
    top: 0rem;
    left: calc(50% - 5rem);
    filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.2)); }

.profile__img {
  max-width: 10rem;
  background: white;
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 5rem auto 1.25rem auto; }

.profile__icon {
  position: absolute;
  top: 1.25rem;
  height: 1.5rem;
  width: 1.5rem;
  display: block;
  text-indent: -99999px;
  text-decoration: none;
  border: 0;
  overflow: visible; }
  .profile__icon.left {
    left: 1.25rem; }
  .profile__icon.right {
    right: 1.25rem; }
  .profile__icon.edit {
    background: url("img/icon-edit.png");
    background-size: contain; }
  .profile__icon.logout {
    background: url("img/icon-logout.png");
    background-size: contain; }
