/* */
/* Copyright 2018, Bauke Posthuma */
/* www.baukeposthuma.nl */
/* */
/**********/
/* Colors */
/**********/
/**************/
/* Typography */
/**************/
/*****************/
/* Media Queries */
/*****************/
/*****************/
/* Grid settings */
/*****************/
/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #434b5f;
  background: white;
  font: 400 1rem/150% "Montserrat", sans-serif; }

/* Typography */
p {
  color: #434b5f;
  margin-bottom: 1rem; }

a {
  border-bottom: 1px solid currentcolor;
  text-decoration: none;
  transition: border-bottom ease 150ms; }
  a:hover, a:focus {
    color: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5ch;
  text-rendering: optimizeLegibility;
  letter-spacing: .125ch; }

h1 {
  font: 400 1.75rem/150% "Montserrat", sans-serif;
  color: #434b5f; }

h2 {
  font: 600 1.75rem/150% "Montserrat", sans-serif;
  color: #ff8c07; }

h3 {
  font: 600 1.5rem/150% "Montserrat", sans-serif;
  color: #ff8c07; }

h4 {
  font: 600 1.25rem/150% "Montserrat", sans-serif;
  color: #596377;
  text-transform: uppercase; }

h6 {
  font: 600 1rem/150% "Montserrat", sans-serif;
  color: #596377;
  text-transform: uppercase; }

/* Tables */
table {
  display: table;
  border-collapse: collapse;
  border-color: currentcolor; }

td,
th {
  border: 1px solid currentcolor;
  padding: 1ch; }

th {
  text-align: start;
  background-color: goldenrod;
  font-weight: 700; }

/* Description list */
dt {
  font-weight: 700;
  float: left; }

dt::after {
  content: ':';
  margin-right: 0.5ch; }

tr:nth-child(odd) {
  background-color: rgba(217, 165, 32, 0.1); }

/* Images */
img {
  max-width: 100%; }

/* Buttons */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: 1px solid #e4e6eb;
  border-radius: 3px;
  padding: .6875rem 1.2rem;
  font: 500 0.8rem/150% "Montserrat", sans-serif;
  color: #596377;
  letter-spacing: .035rem;
  text-decoration: none;
  transition: background .2s ease-in, border .2s ease-in, color .2s ease-in;
  display: inline-block;
  margin: 0 0 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  text-align: center; }
  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover {
    border-color: #596377; }
  .button.button-primary,
  button.button-primary,
  input[type="submit"].button-primary,
  input[type="reset"].button-primary,
  input[type="button"].button-primary {
    background: #ff8c07;
    border-color: #ff8c07;
    color: white; }
    .button.button-primary:hover,
    button.button-primary:hover,
    input[type="submit"].button-primary:hover,
    input[type="reset"].button-primary:hover,
    input[type="button"].button-primary:hover {
      background: #ffa43a;
      border-color: #ffa43a; }

/* Forms */
input[type="email"],
input[type="date"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  font: 400 0.6875rem/100% "Montserrat", sans-serif;
  color: #596377;
  height: 3rem;
  padding: .5rem .8rem;
  background-color: white;
  border: 1px solid #D1D1D1;
  border-radius: .25rem;
  box-shadow: none;
  box-sizing: border-box; }

input[type="email"],
input[type="date"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"],
input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

header {
  background-image: linear-gradient(-135deg, #FFC623 0%, #FF8C07 100%);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  height: .3125rem;
  margin-bottom: 1.25rem; }

main {
  margin: 0 1.25rem; }

/***********/
/* Profile */
/***********/
.profile__img {
  max-width: 10rem;
  background: white;
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 0 auto 1.25rem auto; }
